:root{
    --main-color:#FF782D;
    --dark-color:#555555;
}
.btn-main-color{
  background-color: var(--main-color);
}

body{
  overflow-x: hidden;
}
/*start header*/
.navbar{
    padding: 20px;
    background-color: #FFFFFF;
}
.logo-nav .logo {
height: 35px;
width: auto;
object-fit: contain;
}
.logo-nav .navbar-brand img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navbar-nav .nav-link {
  color: #000 !important; 
  transition: all 0.4s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--main-color) !important; 
}
.navbar-nav{
gap: 20px;
}
.register a{
  color: #000000;
  transition: all 0.4s ease;
  
}
.register a:hover{
  color: var(--main-color);
}
.search{
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: #FFFFFF;
  cursor: pointer;
}
.nav-page{
    background-color:#F5F5F5;
    padding: 20px 0;
}
.nav-page a,p{
    color: var(--dark-color);
    transition: all 0.4s ease;
}
.nav-page a:hover{
    color: var(--main-color);
}
.nav-page p:hover{
    color: var(--main-color);
}
/* end header*/

/*start all courses*/
.all-courses{
    padding: 50px 0;
}
.search-course{
    border: 0;
   border-bottom: 1px solid #000000;
   right: 72px;
  
}
.search-courses svg{
right: 68px;
bottom: 4px;
 cursor: pointer;
}
.menu-right-side{
    background-color: white;
    border: 0;
}
.all-courses .card .card-body h4{
  font-size: 15px;
  transition: all 0.4s ease;
}
.all-courses .card .card-body h4:hover{
  color: var(--main-color);
}
.all-courses .card .card-body{
  gap: 10px;
}
.all-courses .card{
    box-shadow: 0px 0px 5px black;
    transition: all 0.4s ease;
    border-radius: 16px;
}
.all-courses .card:hover{
  transform: scale(1.02);
}
.all-courses .card img{
border-radius: 14px;
}
.all-courses .info-course{
  gap: 24px;
}
.all-courses .info-price .price .price-course{
color: #9D9D9D;
text-decoration: line-through;
}
.all-courses .info-price .price .access{
color: #55BE24;
}
.info-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;       
  padding-bottom: 15px;     
  margin-bottom: 15px;     
}

.info-course::after {
  content: "";
  position: absolute;
  left: 5%;                
  bottom: 0;
  width: 90%;               
  height: 1px;
  background-color: #EAEAEA; 
}
@media screen and (max-width:768px) {
  .all-courses  .card{
    border-radius: 27px;
  }
}
.pagination a{
   color: #000000;
   transition: all 0.4s ease;
}
.pagination a:hover{
   background-color: #000000;
   color: white;
}
/* end all courses */

/* start footer */
.footer{
  padding: 50px 0;
}
.logo-footer img {
  display: inline-block;
  vertical-align: middle;
}

.logo-footer .logo-icon {
  width: 40px; 
  height: auto;
}

.logo-footer .logo-text {
  height: 20px; 
  width: auto;
}
.footer p{
  color: var(--dark-color);
}
.footer .help-footer h2{
font-size: 20px;
}
.footer .nav-footer{
  list-style: none;
}
.footer .nav-footer a{
  color: var(--dark-color);
  transition: all 0.4s ease;
}
.footer .nav-footer a:hover{
  color: var(--main-color);
}
.program-footer h2{
font-size: 20px;
}
.contact-footer h2{
  font-size: 20px;
}
.info-addres{
  color: var(--dark-color);
}
.info-addres span{
  transition: all 0.4s ease;
}
.info-addres span:hover{
  color: var(--main-color);
}
.info-contact{
  color: var(--dark-color);
}
.info-contact span{
  transition: all 0.4s ease;
}
.info-contact span:hover{
  color: var(--main-color);
}
.icon-footer svg{
  fill: var(--dark-color);
  transition: all 0.4s ease;
  cursor: pointer;
}
.icon-footer svg:hover{
  fill: var(--main-color);
}

/* end footer */