:root{
    --main-color:#FF782D;
    --dark-color:#555555;
}
.btn-main-color{
  background-color: var(--main-color);
}

body{
  overflow-x: hidden;
}
/*start header*/
.navbar{
    padding: 20px;
    background-color: #FFFFFF;
}
.logo-nav .logo {
height: 35px;
width: auto;
object-fit: contain;
}
.logo-nav .navbar-brand img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navbar-nav .nav-link {
  color: #000 !important; 
  transition: all 0.4s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--main-color) !important; 
}
.navbar-nav{
gap: 20px;
}
.register a{
  color: #000000;
  transition: all 0.4s ease;
  
}
.register a:hover{
  color: var(--main-color);
}
.search{
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: #FFFFFF;
  cursor: pointer;
}
.nav-page{
    background-color:#F5F5F5;
    padding: 20px 0;
}
.nav-page a,p{
    color: var(--dark-color);
    transition: all 0.4s ease;
}
.nav-page a:hover{
    color: var(--main-color);
}
.nav-page p:hover{
    color: var(--main-color);
}
/* end header*/