:root{
    --main-color:#FF782D;
    --dark-color:#555555;
}
.btn-main-color{
  background-color: var(--main-color);
}

body{
  overflow-x: hidden;
}
/*start header*/
.navbar{
    padding: 20px;
    background-color: #FFFFFF;
}
.logo-nav .logo {
height: 35px;
width: auto;
object-fit: contain;
}
.logo-nav .navbar-brand img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navbar-nav .nav-link {
  color: #000 !important; 
  transition: all 0.4s ease;
}

.navbar-nav .nav-link:hover {
  color: var(--main-color) !important; 
}
.navbar-nav{
gap: 20px;
}
.register a{
  color: #000000;
  transition: all 0.4s ease;
  
}
.register a:hover{
  color: var(--main-color);
}
.search{
  padding: 3px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: #FFFFFF;
  cursor: pointer;
}
/*end header*/

/*start hero*/

.hero{
  background-image: url("./../img/hero/hero-bg.webp");
  background-size: cover;
  background-position:center;
  padding: 50px 0;
 
}
.hero .container{
  padding: 0 20px;
}
.hero .btn{
  border-radius: 50px;
  background-color: #FF782D;
}
.hero-content h1{
  font-size: 40px;
}
.hero-content p{
  font-size: 18px;
  color:var(--dark-color);
}
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 28px;
  }
  .hero-content p {
    font-size: 16px;
  }
}
/*end hero*/
/*start top-catogories*/
.top-catogoriy{
  padding: 50px 0;
}
.info-catogoriy p{
  color:var(--dark-color);
  
}
.top-catogoriy .btn{
  border: 2px solid var(--dark-color);
  border-radius: 50px;
  width: 120px;
  background-color: #FFFFFF;
   padding: 2px 0px;

}
.top-catogoriy .btn:hover{
  background-color: var(--main-color);
}

.top-catogoriy .card{
   box-shadow: 0px 4px 4px #00000040;
   border-radius: 10px;
   transition: all 0.4s ease;
   padding:5px 0;
   gap: 10px;
}
.top-catogoriy .card:hover{
  transform: scale(1.02);
}

.top-catogoriy .card h2{
  font-size: 14px;
  transition: all 0.4s ease;
  
}
.top-catogoriy .card h2:hover{
 color: var(--main-color);
}
.top-catogoriy .card .number-course{
  font-size: 12px;
  font-weight: 600;
   color:var(--dark-color);
}
/*end top-catogories*/

/* start featured courses*/
.featured-courses{
  padding: 50px 0;
}
.featured-courses .btn{
   border: 2px solid var(--dark-color);
  border-radius: 50px;
  width: 120px;
  background-color: #FFFFFF;
   padding: 2px 0px;
}
.info-featured-courses p{
  color:var(--dark-color);
}
.featured-courses .btn{
  transition: all 0.4s ease;
}
.featured-courses .btn:hover{
  background-color: var(--main-color);
}
.featured-courses .prime{
  font-size: 10px;
  margin-top: 3px;
}
.featured-courses .card .card-body h4{
  font-size: 12px;
  transition: all 0.4s ease;
}
.featured-courses .card .card-body h4:hover{
  color: var(--main-color);
}
.featured-courses .card .card-body{
  gap: 10px;
}
.featured-courses .card{
    box-shadow: 0px 0px 5px black;
    transition: all 0.4s ease;
    border-radius: 16px;
}
.featured-courses .card:hover{
  transform: scale(1.02);
}
.featured-courses .card img{
border-radius: 14px;
}
.featured-courses .info-course{
  gap: 24px;
}
.featured-courses .line{
  width: 170px;
  height: 1px;
  background-color: #EAEAEA;
}
.featured-courses .info-price .price .price-course{
color: #9D9D9D;
text-decoration: line-through;
}
.featured-courses .info-price .price .access{
color: #55BE24;
}
.info-course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;       
  padding-bottom: 15px;     
  margin-bottom: 15px;     
}

.info-course::after {
  content: "";
  position: absolute;
  left: 5%;                
  bottom: 0;
  width: 90%;               
  height: 1px;
  background-color: #EAEAEA; 
}
@media screen and (max-width:768px) {
  .featured-courses  .card{
    border-radius: 25px;
  }
}
/* end featured courses*/

/* start activity*/
.activity .active-student{
  background-color:#F5F5F5;
  border-radius: 10px;
  padding: 20px 0;
}
.activity .active-student .number-active{
  color: var(--main-color);
}
.activity .active-student{
  transition: all 0.4s ease;
}
.activity .active-student:hover{
  transform: scale(1.02);
}
/* end activity*/

/*start learn press */
.learn-press{
  padding: 50px 0;
}
.learn-press .btn-learn-press{
  border: 2px solid white;
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  margin-top: 5px;
  transition: all 0.4s ease;
}
.learn-press .btn-learn-press:hover{
  transform: scale(1.02);
}
.learn-press p{
  color:var(--dark-color);
}
/*end learn press */

/*start student feedbacks*/
.student-feedbacks{
  padding: 50px 0;
}
.student-feedbacks .card{
  padding: 33px 0;
  border-radius: 15px;
  transition: all 0.4s ease;
}
.student-feedbacks .card:hover{
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    transform: scale(1.02);
}
.student-feedbacks p{
  color: var(--dark-color);
}
.student-feedbacks .info-student-feedback p{
color:#000000;
}
.info-student .major{
  color:var(--dark-color);
}
/*end student feedbacks*/

/* start latest articles*/
.latest-articles{
padding: 50px 0;
}
.latest-articles .btn{
   border: 2px solid var(--dark-color);
  border-radius: 50px;
  width: 120px;
  background-color: #FFFFFF;
   padding: 2px 0px;
   transition: all 0.4s ease;
}
.latest-articles .btn:hover{
  background-color: var(--main-color);
}
.latest-articles .card{
  border-radius: 15px;
  transition: all 0.4s ease;
  
}
.latest-articles .card:hover{
transform: scale(1.02);
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
}

.latest-articles .card h4{
  font-size: 12px;
  transition: all 0.4s ease;
}
.latest-articles .card h4:hover{
  color: var(--main-color);
}
.latest-articles .info-artical .date{
  color:var(--dark-color);
  font-size: 13px;
}
.latest-articles .date-artical p{
color:var(--dark-color);
font-size: 13px;
}
@media screen and (max-width:768px) {
  .latest-articles  .card{
    border-radius: 25px;
  }
}

/*end latest articles*/


/*start footer*/
.footer{
  padding: 50px 0;
}
.logo-footer img {
  display: inline-block;
  vertical-align: middle;
}

.logo-footer .logo-icon {
  width: 40px; 
  height: auto;
}

.logo-footer .logo-text {
  height: 20px; 
  width: auto;
}
.footer p{
  color: var(--dark-color);
}
.footer .help-footer h2{
font-size: 20px;
}
.footer .nav-footer{
  list-style: none;
}
.footer .nav-footer a{
  color: var(--dark-color);
  transition: all 0.4s ease;
}
.footer .nav-footer a:hover{
  color: var(--main-color);
}
.program-footer h2{
font-size: 20px;
}
.contact-footer h2{
  font-size: 20px;
}
.info-addres{
  color: var(--dark-color);
}
.info-addres span{
  transition: all 0.4s ease;
}
.info-addres span:hover{
  color: var(--main-color);
}
.info-contact{
  color: var(--dark-color);
}
.info-contact span{
  transition: all 0.4s ease;
}
.info-contact span:hover{
  color: var(--main-color);
}
.icon-footer svg{
  fill: var(--dark-color);
  transition: all 0.4s ease;
  cursor: pointer;
}
.icon-footer svg:hover{
  fill: var(--main-color);
}
/*end footer*/